<div class="center jumbotron">
<h1>3d Modeller News Forum Thread</h1>
<p>Create your topics and answer to authors</p>

<%= render partial: "topics" %>


<%= link_to 'New Topic', new_topic_path, object: @branch.topics.new%>




