<p id="notice"><%= Admin %></p>

<div class="gravatar">
	<%= gravatar_for(@admin,100) %>
		<div class="img img-responsive">
	</div>


<p>
   <%= @admin.name %>   
</p>

<p>
  I'm miarhost, 
</p>

<%= link_to 'Back', root_path %>