<% provide(:title, "About") %>
<h1>3d Modeller News</h1>
<h2>About us</h2>
<p>Be aware of 3d world news, features and tips from our articles collection. Register to comment!</p>

  <%= link_to "Articles", 'articles', class: "btn btn-lg btn-primary" %>
</div>
