<% provide(:title, "Blender") %>
<h1>3d Modeller News</h1>
<h2>Blender 3D</h2>
<p>See new articles update about Blender 3D. Register to comment!</p>

  <%= link_to "Articles", 'articles', class: "btn btn-lg btn-primary" %> <br /><br />
</div>


 <!-- Header Section-->
    <section style="background: url(<%= asset_path 'blendersm.jpg' %>); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-11">
            <h1>People all over the world are excited about free open-source 3d modelling and rendering software.</h1>
            <p class="text-big">Get to know about it.</p>
          </div>
        </div><a href="#" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Blender 3D</h2>
            <p class="text-small"> Blender is the free and open source 3D creation suite. It supports the entirety of the 3D pipeline—modeling, rigging, animation, simulation, rendering, compositing and motion tracking, even video editing and game creation. Advanced users employ Blender’s API for Python scripting to customize the application and write specialized tools; often these are included in Blender’s future releases. Blender is well suited to individuals and small studios who benefit from its unified pipeline and responsive development process. Examples from many Blender-based projects are available in the showcase.

Blender is cross-platform and runs equally well on Linux, Windows, and Macintosh computers. Its interface uses OpenGL to provide a consistent experience. To confirm specific compatibility, the list of supported platforms indicates those regularly tested by the development team.

As a community-driven project under the GNU General Public License (GPL), the public is empowered to make small and large changes to the code base, which leads to new features, responsive bug fixes, and better usability. Blender has no price tag, but you can invest, participate, and help to advance a powerful collaborative tool: Blender is your own 3D software. 
You are free to use Blender for any purpose, including commercially or for education. This freedom is being defined by Blender’s GNU General Public License (GPL).

Read more about the license.Blender is being actively developed by hundreds of people from all around the world. These include animators, artists, VFX experts, hobbyists, scientists, and much more. All of them are united by an interest to further a completely free and open source 3D creation pipeline. The Blender Foundation supports and facilitates these goals—and employs a small staff for that—but depends fully on the global online community.

More help is always welcome! From developing and improving Blender to writing documentation, etc, there are a number of different things you can do to get involved.
 </p>
          </div>
        </div>
      </div>
    </section>