<% provide(:title, 'Gallery') %>
<h1>Gallery</h1>
<p>
Some examples of my old 3d works you can do too with Autodesk 3ds Max, Vray and D'Assault's Solid Works for molding parts
</p>

<%= link_to image_tag("night.jpg", alt: "rendered") %>
<%= link_to image_tag("night_scheme.jpg", alt: "viewport") %>