<p id="notice"> User's profile </p>

<p>
  <strong><%= @user.name %></strong>
  
</p>
<%= @user.email %>
<p>
 

 	<% if @user.image? %>
  <%= image_tag(@user.image.url, alt: 'image') %>



<% else %>
<div class="gravatar">
<%= gravatar_for(@user,40) %>
<div class="img-img-responsive">
</div>
<% end %> 

<p> Show my maps </p>